  <header>
  <div class="container">
    <nav>
       <ul class="nav-list-left">
         <h2>Sample App</h2>
       </ul>
       <ul class="nav-list-right">
          <% if user_signed_in? %>
            <h6><%= link_to "Home", post_images_path, class: "glyphicon glyphicon-home home fa-2x" %>
                <%= link_to "Search", users_path, class: "glyphicon glyphicon-search fa-2x" %>
                <%= link_to 'Mypage', user_path(current_user.id), class: "far fa-user fa-2x" %>
                <%= link_to "Post", new_post_image_path, class: "glyphicon glyphicon-pencil fa-2x" %>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-in fa-2x" %></h6>
          <% else %>
            <h6><%= link_to "Home", top_path, class: "glyphicon glyphicon-home home fa-2x" %>
            <%= link_to "Log in", new_user_session_path, class: "nav-list-item glyphicon glyphicon-log-in fa-2x" %>
            <%= link_to "Sign up", new_user_registration_path, class: "glyphicon glyphicon-edit fa-2x" %>
            <%= link_to "Sample App", root_index_path, class: "far fa-user fa-2x" %>
            </h6>
          <% end %>
       </ul>
  </div>
    </nav>

        <nav class="global-nav">
          <ul class="global-nav__list">
             <% if user_signed_in? %>
                <li class="global-nav__item"><%= link_to "Home", post_images_path, class: "glyphicon glyphicon-home home fa-2x" %></li>
                <li class="global-nav__item"><%= link_to "Search", users_path, class: "glyphicon glyphicon-search fa-2x" %></li>
                <li class="global-nav__item"><%= link_to 'Mypage', user_path(current_user.id), class: "far fa-user fa-2x" %></li>
                 <li class="global-nav__item"><%= link_to "Post", new_post_image_path, class: "glyphicon glyphicon-pencil fa-2x" %></li>
                 <li class="global-nav__item"><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-in fa-2x" %></li>
             <% else %>
                <li class="global-nav__item"><%= link_to "Home", top_path, class: "glyphicon glyphicon-home home fa-2x" %></li>
                <li class="global-nav__item"><%= link_to "Log in", new_user_session_path, class: "nav-list-item glyphicon glyphicon-log-in fa-2x" %></li>
                <li class="global-nav__item"><%= link_to "Sign up", new_user_registration_path, class: "glyphicon glyphicon-edit fa-2x" %></li>
                <li class="global-nav__item"><%= link_to "Sample App", root_index_path, class: "far fa-user fa-2x" %></li>
             <% end %>
          </ul>
        </nav>

        <div class="hamburger" id="js-hamburger">
          <span class="hamburger__line hamburger__line--1"></span>
          <span class="hamburger__line hamburger__line--2"></span>
          <span class="hamburger__line hamburger__line--3"></span>
        </div>
        <div class="black-bg" id="js-black-bg"></div>



</header>